= render 'pages/home' unless user_signed_in?
%div
  %h3 Tags 
  - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| 
    = link_to tag.name, tag_path(tag), class: css_class 

%div{id: "pins", class: "transitions-enabled"}
  - @pins.each do |pin| 
    %div{class: "box panel panel-default"}
      = link_to image_tag(pin.image.url(:medium)), pin 
      %div{class: "panel-body"}
        = pin.description 
        %span{class: "likes-count fa fa-heart-o"}
          = pin.likes.size
        %br 
        %strong
          = pin.user.name if pin.user
          - if current_user && pin.user != current_user
            = link_to "like", pin_likes_url(pin.id), method: :post, class: 'like-pin', remote: true
        - if pin.user == current_user 
          %div{class: "actions"}
            = link_to edit_pin_path(pin) do 
              %span{class: "fa fa-edit"} 
                Edit
            = link_to pin, method: :delete, data: {confirm: 'Are you sure'} do 
              %span{class: "fa fa-trash"}
                Delete
        - if pin.tag_list.count > 0
          %p 
            tags: 
            = pin.tag_list

%div{class: "center"}
  = will_paginate @pins, renderer: BootstrapPagination::Rails
